@page "/ClosureRateOfRegionalIssues"

@using SX.TSSR.Application.Features.ClosingRateStatistics.Queries.GetClosureRateOfRegionalIssues
<h3>GetClosureRateOfRegionalIssues</h3>

@if (vm != null)
{
    <Table TItem="ClosureRateOfRegionalIssuesDetailVm" Items="vm" IsStriped="true" IsBordered="true" TableSize="TableSize.Compact"
           ShowToolbar="true" ShowDefaultButtons="false" ShowExportButton="true">
        <TableColumns>
            <TableColumn @bind-Field="@context.Trade" Align="Alignment.Center" Sortable="true" Filterable="true"></TableColumn>
            <TableColumn @bind-Field="@context.DealWither" Sortable="true" Filterable="true"></TableColumn>
            <TableColumn @bind-Field="@context.Provice" Sortable="true" Filterable="true"></TableColumn>
            <TableColumn @bind-Field="@context.RegionQuestionNum" Align="Alignment.Center" Sortable="true" Filterable="true"></TableColumn>
            <TableColumn @bind-Field="@context.NoMoidficationQuestionNum" Sortable="true" Filterable="true"></TableColumn>
            <TableColumn @bind-Field="@context.HandledQuestionNum" Sortable="true" Filterable="true"></TableColumn>
            <TableColumn @bind-Field="@context.AssistHandledQuestionNum" Sortable="true" Filterable="true"></TableColumn>
            <TableColumn @bind-Field="@context.ClosedQuestionNum" Sortable="true" Filterable="true"></TableColumn>
            <TableColumn @bind-Field="@context.RegionClosedQuestionRate" Sortable="true" Filterable="true"></TableColumn>
            <TableColumn @bind-Field="@context.HandledQuestionRage" Sortable="true" Filterable="true"></TableColumn>
        </TableColumns>
    </Table>}
else if (loadFailed)
{
    <h1>Sorry, we could not load this product due to an error.</h1>
}
else
{
    <a>loading...</a>
}

@code {
    /// <summary>
    /// 区域问题关闭
    /// </summary>
    private IEnumerable<ClosureRateOfRegionalIssuesDetailVm> vm = null;

    private bool loadFailed = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            loadFailed = false;
            //throw new Exception("我是错误");
            var result = await _mediator.Send(new GetClosureRateOfRegionalIssuesDetailQuery());
            vm = result;

        }
        catch (Exception ex)
        {
            loadFailed = true;

            System.Console.WriteLine(ex);
        }

    }

}
